.advert
{
  
    background-color: $dark-gray;
    max-width: 1600px;
    min-width: fit-content;
    
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
    color: $white;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
                        url("../images/mobile-img/headerimagemobile-x1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);


  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx)
    {
    background-image: 
        linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%),
        url("../images/mobile-img/headerimagemobile-x2.jpg");
    }

  @include desktop 
    {
    max-width: 1600px;
    height: 600px;
.padding: 200px 0;
    background-size: cover;
    background-image: 
        linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%),
        url("../images/mobile-img/headerimagemobile-x1.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) 
        {
      background-image: linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%),
            url("../images/mobile-img/headerimagemobile-x2.jpg");
        }
    }


  @include tablet
   {
    max-width: 1200px;
    background-image: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%),
      url("../images/mobile-img/headerimagemobile-x1.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) 
        {
      background-image: 
        linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0% ),
        url("../images/mobile-img/headerimagemobile-x2.jpg");
        }
     }










    &__title
        {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36em;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            width: 696px;
            margin: 0 auto;
            margin-bottom: 30px;
            text-shadow: 0px 4px 4px $black;
            -webkit-text-stroke: 1px $black;
            
        }

    
    &__button
        {
            cursor: pointer;
            background-color: $blue;
            color: $white;
            font-weight: $font-weight-bold;
            font-size: $bigger-text-size;
            line-height: 1.88em;
            letter-spacing: 0.06em;
            text-align: center;
            min-width: 200px;
            border: none;
            border-radius: $border-radius-normal;
            padding: 10px 42px;
        }
}