.customers{


    &__block
        {
            gap: 30px;
            margin-bottom:64px;
            
            
        @include tablet 
            {
            width: 768px;
            
            }
        @include desktop 
            {
            width:1600px;
            padding-right: 30px;
            }


        }

    &__list
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap:30px;
            list-style: none;
            margin-bottom: 60px;

        @include tablet
            {
            
            }    

        @include desktop 
            {
                display:flex;
            flex-wrap: nowrap;
            
            margin-bottom: 60px;
            }

        }

    &__item
        {

        width: 210px;
            height: 92px;
            fill: $extra-light-grey;
            border:1px solid $extra-light-grey;
            border-radius: 5px;
            display: flex;
            justify-content:center;
            align-items:center;
            cursor: pointer; 
            transition-property: transform, border-color, fill;
            transition-duration: $transition-duration-standard;
            transition-timing-function: $transition-timing-function-standard;


        @include tablet 
            {
                display: flex;
            width: 210px;
            justify-content: center;
            }
        @include desktop 
            {
            width: 170px;
            }

        &:hover,
        &:active,
        &:focus
            {
            fill: $blue; 
            border-color: $blue;
            }
        }   

    &__icon
        {
        

        }

}

