.customers
{


    &__block
        {

        align-items: center;
            gap: 30px;
            justify-content: center;
            margin: 0 auto;
        .width: 768px;
        @include tablet 
            {
            width: 768px;
            }
        @include desktop 
            {
            width:1600px;
            }


        }

    &__list
        {
        

            display: flex;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:30px;
        

            list-style: none;
        gap: 30px;

        @include desktop 
            {
            flex-wrap: nowrap;
            margin-bottom: 60px;
            }

        }

    &__item
        {

        width: 170px;
            height: 92px;
            fill: $extra-light-grey;
            border:1px solid $extra-light-grey;
            border-radius: 5px;
            display: flex;
            justify-content:center;
            align-items:center;
            margin-bottom: 10px;
            cursor: pointer; 
            transition-property: transform, border-color, fill;
            transition-duration: $transition-duration-standard;
            transition-timing-function: $transition-timing-function-standard;


        @include tablet 
            {
            width: 170px;
            }
        @include desktop 
            {
            width: 210px;
            }

        &:hover,
        &:active,
        &:focus
            {
            fill: $blue; 
            border-color: $blue;
            }
        }   

    &__icon
        {
        

        }

}

