footer
{
    
    height: 252px;
    display: flex;
    background: $background-grey;

            @include tablet 
                {
                    width: 768px;
                    margin: 0;
                    padding: 0;
                }
            @include desktop 
                {
                    width: 1600px;
                }
}

footer.container
{
    display:flex;
    flex-direction: column;
    .width: 480px;  

            @include tablet 
                {
                    width: 768px;
                    display: flex;  
                    justify-content: baseline; 
                    padding: 0;
                }

            @include desktop 
                {
         
                    flex-direction: row;
                }
}

.footer2
{
    display: flex;
    flex-direction: column;
    justify-content: central;

            @include tablet 
                {
                    display: flex;
                    flex-direction: row;
                }
            @include desktop
                {
                    width: 800px;
                    display: flex;
                    flex-direction: row;
                }
}


.footer
{
    &__block
        {
            @include tablet 
                {
                    width: 384px;
                    justify-content: baseline; 
                    align-items: center;
                    background: $background-grey;
                }

            @include desktop 
                {
                    width: 461px;
                }
        }

    &__address
        {
            list-style-type: none;
            font-style: normal;
            text-align: center;

            @include desktop 
                {
                    width: 461px;
                }
        }

    &__address-item
        {
            color: $white;
            font-style: normal;
            font-weight: $font-wieght-normal;
            line-height: 1.71em;
            letter-spacing: letter-spacing-normal;
            text-decoration: none;
        }

    &__mail-tel
        {
            color: $white;
            font-weight: $font-wieght-normal;
            line-height: 1.71em;
            text-decoration: none;
            opacity: 0.6;
        }

    &__logo
        {   
            display: flex;
            width: 384px;
            text-align: center;
            padding: 60px 120px 20px 120px;
            
            
        }

    &__social-box
        {
            width:480px;        
            background: $background-grey;

            @include tablet 
                {
                    width: 384px;
                    padding: 0;
                }
            @include desktop 
                {
                    width: 206px;
                }
        }


    &__socialmedia-text
        {
            font-family: $font-family-standard;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 20px;
            color: $white;
            font-size: 14px;
            font-weight: 700;

            @include tablet 
                {
                    margin-top: 20px;
                }
    
        }

    &__socialmedia-list
        {
            @include tablet
                {
                    padding:0;
                    margin:0;
                }
        }

    &__newsletter
        {
            margin-bottom: 30px;
            background: $background-grey;

            @include desktop 
                {
                    justify-content: left;
                }
        }

    &__newsletter-field
        {
            display: flex;
            flex-direction: column;
        width: 100%;
            align-items: center;        
            gap: 30px;  
            padding-bottom: 30px; 
            background: $background-grey; 

            @include tablet 
                {
                    width: 768px;
                    display: flex;
                }

                @include desktop 
                {
                    flex-direction: row;
                    justify-content: start;
                    gap: 0;
                }

        }    

    &__newsletter-text
        {
            text-align: center;
            padding-top: 60px;
            padding-bottom: -10px;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            border: none;

            @include desktop{
                padding-top: 80px;
                text-align: left;
            }
        }

    &__email
        {
            width: 450px;
            height: 50px;
            font-size: $bigger-text-size;
            font-weight: $font-wieght-normal;
            line-height: 1.5em;
            letter-spacing: $letter-spacing-normal;
            padding-left: 40px;
            color: $white;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: $border-radius-normal;
            background-color: $background-grey;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            stroke: 1px solid rgba(255,255,255,0.3);

            @include desktop 
            {
                width: 358px;
            }

        }

    &__button-signup
        {
            display: flex;
            justify-content: center;
            width: 200px;
            height: 50px;
            cursor: pointer;
            background-color: $blue;
            padding-top: 12px;
            margin-left: 12px;
            margin-bottom: 30px;
            border: none;
            border-radius: $border-radius-normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

            @include desktop 
            {
                margin-top: 29px;
            }
        }

    &__button-icon
        {
            width: 24px;
            height: 24px;
            fill: $white;
            margin-left: 24px;
        }

    &__button-text
        {
            margin-left: 20px;
            color: $white;
            font-weight: 700;
            font-size: $bigger-text-size;
            line-height: 1.7em;
            letter-spacing: 0.06em;
            text-align: center;
        }

}


.socialmedia
    {

    &__list
        {
            display: flex;
            list-style: none;
            gap:15px;
            justify-content: center;
            margin-left: 20px;        
            padding: 20px  10px 30px 0px;
            background: $background-grey;

            @include tablet 
                {
                    padding: 0;
                }
        }

    &__list-item
        {
            height: 44px;
            width: 44px;
            fill:  $white;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%; 
            cursor: pointer; 
            transition-property: background-color;
            transition-duration: $transition-duration-standard;
            transition-timing-function: $transition-timing-function-standard;


        }

    &__list-item:hover
        { 
            background-color: $blue; 
        }

    &__list-item:focus
        { 
            background-color: $blue; 
        }

    &__icon
        {
            width:44px;
            height:44px;
            padding: 12px;
            fill:  $white;
        }

    }


