.strenghts
{
max-width: 1600px;

    &__block
{
   margin-top: 80px; 
   
}

&__list 
{
padding: 10px 10px;
    list-style: none;


    position: absolute;
        top: 100em;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    
}

&__item
{

width: 270px;


}

&__title
{
    color: $black;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: $letter-spacing-normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

&__text
{
    color: $light-grey;
    line-height: 1.71em;
    min-width: 270px;
    margin-bottom: 30px;
}

&__icon
{
align-items: center;
justify-content: center;
    fill: $black;
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    background-color: $antenna-grey;
    border-radius: $border-radius-normal;
    margin-bottom: 30px;
}


}