.strenghts
{

&__list 
{
    flex-direction: column;    
    padding: 10px 10px;
    list-style: none;
    align-items: center;
    gap:30px;
    justify-content: center;


    @include tablet 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    @include desktop 
        {
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
}

&__item
{
    @include desktop 
    {
        margin: 0 auto;
        width: 270px;
        gap: 30px;
    }
    @include tablet 
    {
        width: 270px;
        margin-bottom: 30px;
    }
}


&__title
{
    color: $black;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: $letter-spacing-normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    @include tablet 
    {
        text-align: left;
    }
    @include desktop
    {
        text-align: left;
    }
}

&__text
{
    color: $light-grey;
    line-height: 1.71em;
    min-width: 270px;
    margin-bottom: 30px;
}



&__icon
    {
    flex-basis: calc((100% - 3*30px)/4);
    fill: $black;
    width:450px;
    height: 120px;
    padding: 25px 0px;
    background-color: $antenna-grey;
    border-radius: $border-radius-normal;
    margin-bottom: 30px;

    @include desktop 
        {
        margin: 0 auto;
        width: 270px;
        gap: 30px;
        }
    @include tablet
        {
        width: 270px;
        margin-bottom: 30px;
        }
    }
}